[data-theme="light"] {
  --bg-color: beige;
  --text-color: #333333;
  --heading-color: #444444;
}
[data-theme="dark"] {
  --bg-color: #333333;
  --text-color: #ffffff;
  --heading-color: #dddddd;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
.app {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  height: 100vh;
}

* {
  cursor: default;
}

.title {
  font-size: x-large;
  text-align: center;
  background-color: var(--bg-color);
  padding: 20px 0;
}

.main-body {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin-top: 10px;
  column-gap: 10px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bg-color);
  margin-top: -10px;
}
.sidebar > div {
  padding: 5px 5px;
  cursor: pointer;
}
.sidebar > div:active {
  border: 1px solid blue;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-right: 10px;
  height: 70vh;
  overflow: auto;
  margin-bottom: 10px;
  width: 80vw;
}

.product-card {
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(136, 131, 131, 0.315);
  box-shadow: 2px 2px 2px rgba(181, 172, 172, 0.53);
  cursor: pointer;
  background-color: white;
  max-height: 300px;
}

.search {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  column-gap: 20px;
  width: 80vw;
}
.search > input {
  font-size: 16px;
  padding: 4px;
  border: 1px solid black;
  height: 20px;
  width: 100%;
  margin-top: 8px;
}

.search > button {
  width: fit-content;
  padding: 0px 20px;
}

.product-card > img {
  max-width: 100%;
  height: 100px;
  object-fit: contain;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px;
}

.alert-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-alert {
  background-color: aquamarine;
  padding: 2px 20px;
  border-radius: 4px;
}

.login-title {
  margin: 10px;
  padding: 10px;
  font-size: x-large;
  font-weight: 400;
  text-transform: uppercase;
}

.login-form {
  width: 400px;
  height: auto;
  margin: auto;
  padding: 40px;
  margin-top: 20vh;
  padding-bottom: 60px;
  text-align: center;

  border: 1.5px solid rgba(123, 121, 121, 0.226);
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(133, 131, 131, 0.128);
  background-color: aliceblue;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
}

input {
  width: 200px;
  height: 20px;
}

label {
  color: rgb(112, 106, 106);
}

.submit-button {
  display: flex;
  justify-content: end;
}

.submit-button > button {
  padding: 8px 30px;
  background-color: rgb(34, 122, 245);
  color: white;
  border: none;
  border-radius: 4px;
  transition: opacity 0.15s;
  cursor: pointer;
}

.submit-button > button:hover {
  opacity: 0.9;
}

.submit-button > button:active {
  opacity: 0.85;
}

.input-box {
  width: 15rem;
  box-sizing: border-box;
}

.input-box:focus {
  cursor: text;
}

.options-list {
  width: 15rem;
  border: 1px solid black;
}

.option {
  border-bottom: 1px solid rgba(122, 114, 114, 0.719);
}

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
